* {
  box-sizing: border-box;
}



body {
  background: white;

}


#outer-container {
  display: block;
  width: 90%;
  height: 740px;
  position: relative;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
}

.container {
  display: none;
  width: 90%;
  height: 670px;
  position: absolute;
  background: #73bbb4;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#modalmodal {
  display: none;
}

h1 {
  text-align: center;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: rgb(40, 40, 40);
}

h2 {
  text-align: center;
}

#main-column1 {
  border: 2px solid rgb(40, 40, 40);
  border-radius: 10px;
  background: rgb(40, 40, 40);
  position: relative;
  left: 20px;
  height: 590px;
}

#main-column2 {
  border: 2px solid rgb(40, 40, 40);
  border-radius: 10px;
  background: rgb(40, 40, 40);
  position: relative;
  right: 20px;
}

.row {
  color: rgba(255, 255, 255, 0.9);
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
}

.col-10 {
  max-width: 100%;
  margin-left: 3px;
}

.fetch_container {
  border-radius: 10px;
  padding: 1px;
  background: #136e8a;
  margin-bottom: 15px;
  margin: 0px 5px 10px 5px;
}

#instfetch {
  background: rgba(40, 40, 40, 0.8);
  color: white;
  transition: all 1s;
}

#instfetch:hover {
  background: #538275;
}

.current-inst-box {
  position: relative;
  top: 5px;
  background: #f1f1f1;
  width: 200px;
  height: 40px;
  float: left;
  top: 7px;
  margin-right: 20px;
  text-align: center;
  border-radius: 5px;
  color: #5f5a5a;
}

#current_instruction {
  font-size: 20px;
  position: relative;
  top: 7px;
}

#arg-container {
  background: #136e8a;
  width: 154px;
  height: 50px;
  position: relative;
  display: inline-block;
}

.arg1-inst-box {
  position: absolute;
  right: 90px;
  top: 5px;
  width: 40px;
  height: 40px;
  background: #ff7600c4;
  margin-right: 17px;
  text-align: center;
  border-radius: 5px;
}

#current_arg1 {
  font-size: 20px;
  position: relative;
  top: 8px;
}

.arg2-inst-box {
  position: absolute;
  top: 5px;
  left: 59px;
  width: 40px;
  height: 40px;
  background: #ea1616b8;
  margin-right: 17px;
  text-align: center;
  border-radius: 5px;
}

#current_arg2 {
  font-size: 20px;
  position: relative;
  top: 8px;
}

.arg3-inst-box {
  position: absolute;
  top: 5px;
  left: 109px;
  width: 40px;
  height: 40px;
  background: #29b90fc4;
  text-align: center;
  border-radius: 5px;
}

#current_arg3 {
  font-size: 20px;
  position: relative;
  top: 8px;
}

#store {
  background: rgba(40, 40, 40, 0.8);
  color: white;
  transition: all 1s;
}

#store:hover {
  background: #538275;
}

#fetch {
  background: rgba(40, 40, 40, 0.8);
  color: white;
  transition: all 1s;
}

#fetch:hover {
  background: #538275;
  color: white;
}

.current-value-box {
  position: relative;
  top: 5px;
  background: #f1f1f1;
  width: 200px;
  height: 40px;
  float: left;
  top: 7px;
  margin-right: 20px;
  text-align: center;
  border-radius: 5px;
  color: #5f5a5a;
}

#memory-val {
  font-size: 20px;
  position: relative;
  top: 7px;
}

.data_container {
  border-radius: 10px;
  padding: 1px;
  background: #195d73;
  margin: 0px 5px 10px 5px;
}

.store_container {
  border-radius: 10px;
  padding: 1px;
  background: #194a5a;
  margin: 0px 5px 10px 5px;
}

.info_container {
  border-radius: 10px;
  border: 8px solid #538275;
  color: rgba(62, 56, 56, 0.83);
  padding: 1px;
  background: #ffffff;
  margin: 3px 5px 5px 5px;
  height: 185px;
}

#message {
  font-size: 25px;
  position: relative;
  top: 4px;
}

.fetchInst {
  font-weight: bold;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  padding: 6px;
  background: rgb(62, 56, 56);
}

.fetchMem {
  font-weight: bold;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  padding: 5px;
  background: rgb(62, 56, 56);
}

.storeMem {
  font-weight: bold;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  padding: 5px;
  background: rgb(62, 56, 56);
}

.prCounter {
  font-weight: bold;
  color: #495057;
  border-radius: 2px;
  font-size: 18px;
  padding: 5px;
  background: rgb(233, 236, 239);
}

#nextTask {
  background: rgba(40, 40, 40, 0.8);
  color: white;
  position: relative;
  left: 600px;
  bottom: 18px;
  width: 120px;
  height: 50px;
  transition: all 1s;
}

#nextTask:hover {
  background: #538275;
}

#reset_game {
  background: rgb(107, 116, 125);
  color: white;
  position: relative;
  width: 120px;
  height: 40px;
  transition: all 1s;
  top: 71px;
  right: 194px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#reset_game:hover {
  background: #538275;
  cursor: pointer;
}

@media only screen and (max-width: 772px) {
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 15px;
  }

  .container {
    display: none;
    width: 90%;
    height: 750px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 670px;
  }

  #arg-container {
    background: #136e8a;
    width: 137px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 171px;
    top: 7px;
  }

  .current-inst-box {
    position: absolute;
    top: 5px;
    background: #f1f1f1;
    width: 153px;
    height: 40px;
    left: 180px;
    top: -38px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  #current_instruction,
  #memory-val {
    font-size: 15px;
    position: relative;
    top: 10px;
  }


  .prg_counter {
    width: 226px;
  }

  #message {
    font-size: 15px;
  }

  .fetchInst {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    padding: 1px;
    background: rgb(62, 56, 56);
  }

  .fetchMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px;
    background: rgb(62, 56, 56);
  }

  .storeMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px;
    background: rgb(62, 56, 56);
  }

  .arg2-inst-box {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 40px;
    height: 40px;
    background: #ea1616b8;
    margin-right: 17px;
    text-align: center;
    border-radius: 5px;
  }

  .current-value-box {
    position: relative;
    top: 5px;
    background: #f1f1f1;
    width: 285px;
    height: 40px;
    float: left;
    top: -6px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 190px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }


}

@media only screen and (min-width: 773px) and (max-width:865px) {

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 17px;
  }

  .container {
    display: none;
    width: 90%;
    height: 700px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 625px;
  }

  #arg-container {
    background: #136e8a;
    width: 137px;
    height: 50px;
    position: relative;
    display: inline-block;
    right: 3px;
    top: 43px;
  }

  .current-inst-box {
    position: absolute;
    top: 5px;
    background: #f1f1f1;
    width: 153px;
    height: 40px;
    left: 5px;
    top: 2px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  #current_instruction,
  #memory-val {
    font-size: 15px;
    position: relative;
    top: 10px;
  }


  .prg_counter {
    width: 226px;
  }

  #message {
    font-size: 16px;
  }

  .fetchInst {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .fetchMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .storeMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .arg2-inst-box {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 40px;
    height: 40px;
    background: #ea1616b8;
    margin-right: 17px;
    text-align: center;
    border-radius: 5px;
  }

  .current-value-box {
    position: relative;
    top: 5px;
    background: #f1f1f1;
    width: 150px;
    height: 40px;
    float: left;
    top: 7px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 250px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }




}

@media only screen and (min-width:866px) and (max-width:992px) {

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 20px;
  }

  .container {
    display: none;
    width: 90%;
    height: 700px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 625px;
  }

  #arg-container {
    background: #136e8a;
    width: 154px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 26px;
    top: 43px;
  }

  .current-inst-box {
    position: absolute;
    top: 5px;
    background: #f1f1f1;
    width: 200px;
    height: 40px;
    left: 18px;
    top: 2px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  .prg_counter {
    width: 226px;
  }

  #message {
    font-size: 16px;
  }

  .fetchInst {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .fetchMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .storeMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 300px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }



}

@media only screen and (min-width:992px) and (max-width:1100px) {

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 25px;
  }

  .container {
    display: none;
    width: 90%;
    height: 700px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 625px;
  }

  #arg-container {
    background: #136e8a;
    width: 154px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 58px;
    top: 43px;
  }

  .current-inst-box {
    position: absolute;
    top: 5px;
    background: #f1f1f1;
    width: 200px;
    height: 40px;
    left: 50px;
    top: 2px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  .prg_counter {
    width: 226px;
  }

  #message {
    font-size: 18px;
  }

  .fetchInst {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .fetchMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  .storeMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    background: rgb(62, 56, 56);
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 400px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }

}

@media only screen and (min-width:1101px) and (max-width:1299px) {
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .container {
    display: none;
    width: 90%;
    height: 700px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 625px;
  }

  #arg-container {
    background: #136e8a;
    width: 154px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 58px;
    top: 43px;
  }

  .current-inst-box {
    position: absolute;
    top: 5px;
    background: #f1f1f1;
    width: 200px;
    height: 40px;
    left: 50px;
    top: 2px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  .prg_counter {
    width: 226px;
  }

  #message {
    font-size: 20px;
  }

  .fetchInst {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    padding: 4px;
    background: rgb(62, 56, 56);
  }

  .fetchMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px;
    background: rgb(62, 56, 56);
  }

  .storeMem {
    font-weight: bold;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px;
    background: rgb(62, 56, 56);
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 490px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }

}



@media only screen and (min-width:1300px) and (max-width: 1405px) {

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 97%;
  }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .container {
    display: none;
    width: 90%;
    height: 700px;
    position: absolute;
    background: #73bbb4;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #main-column1 {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    background: rgb(40, 40, 40);
    position: relative;
    left: 20px;
    height: 625px;
  }

  #arg-container {
    background: #136e8a;
    width: 154px;
    height: 50px;
    position: relative;
    display: inline-block;
    left: 75px;
    top: 5px;
  }

  .current-inst-box {
    position: relative;
    top: 5px;
    background: #f1f1f1;
    width: 200px;
    height: 40px;
    left: 50px;
    top: 2px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    color: #5f5a5a;
  }

  #message {
    font-size: 24px;
  }

  #nextTask {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    position: relative;
    left: 570px;
    bottom: 18px;
    width: 120px;
    height: 50px;

  }

  #nextTask:hover {
    background: #538275;
    transition: all 1s;
  }
}