@font-face {
  font-family: 'myFont';
  src: url('../fonts/font.ttf');
}

#introContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 90%;
  height: 740px;
  text-align: center;
  display: block;
}

#introImage {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
}

#introImageActive {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 630px;
  height: 630px;
  display: none;
}

@media only screen and (max-width: 400px) {
  #introImage {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
  }

  #introImageActive {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 315px;
    height: 315px;
    display: none;
  }


}

@media only screen and (min-width: 401px) and (max-width: 1250px) {

  #introImage {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
  }

  #introImageActive {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 470px;
    height: 470px;
    display: none;
  }

}

#begin {
  position: absolute;
  bottom: 50px;
  width: 250px;
  height: 75px;
  left: 0px;
  right: 0px;
  margin: auto;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(40, 40, 40);
  border: 3px solid white;
  transition: all 2s;
}

#begin:hover {
  background: #73bbb4;
  border: 3px solid white;
}

#begin:focus {
  outline: 0;
}